<div class="container">
    <aside class="sidebar">
      <h2>Menu</h2>
      <nav>
        <ul>
          <li><a routerLink="/calcular-media" routerLinkActive="active">Calcular Média</a></li>
          <li><a routerLink="/calculadora" routerLinkActive="active">Calculadora</a></li>
          <li><a routerLink="/conversao-temperatura" routerLinkActive="active">Conversão de Temperatura</a></li>
          <li><a routerLink="/apolice-seguro" routerLinkActive="active">Apólice de Seguro</a></li>
          <li><a routerLink="/imc-calculator" routerLinkActive="active">Calculadora de IMC</a></li>
        </ul>
      </nav>
    </aside>
  
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>